@tailwind base;
@tailwind components;
@tailwind utilities;
.glass-nav {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
}

.hero {
  background-image: url("https://source.unsplash.com/1600x900/?aviation"); /* Placeholder aviation-themed background image */
  background-size: cover;
  background-position: center;

  min-height: 100vh; /* Adjusted to fill the full screen */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.add-button-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  background-color: #e0211a;
  padding: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 999;
  transition: background-color 0.3s;
}

.add-button-container:hover {
  background-color: #b41813;
}

.add-icon {
  color: white;
  font-size: 32px;
  transition: color 0.3s;
}

.add-button-container:hover .add-icon {
  color: white;
}

.search-button-container {
  position: fixed;
  bottom: 20px;
  left: 20px;
  border-radius: 50%;
  background-color: #e0211a;
  padding: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 999;
  transition: background-color 0.3s;
}

.search-button-container:hover {
  background-color: #b41813;
}

.search-icon {
  color: white;
  font-size: 32px;
  transition: color 0.3s;
}

.search-button-container:hover .add-icon {
  color: white;
}

/* Add your other styles */

.exact-duration {
  color: green; /* Adjust the color as needed */
}

.fewer-hours {
  color: red; /* Adjust the color as needed */
}

.more-hours {
  color: blue; /* Adjust the color as needed */
}

.leeway-considered {
  font-style: italic;
}

/* Add more styles if needed */
